body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica";
  font-size: 16px;
  color: #555;
}
.App {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

.Todo {
  margin: 2rem auto;
  width: 100%;
  max-width: 500px;
  border-radius: .5rem;
  box-shadow: 0 0 2rem #d1d1d1;
  overflow: hidden;
  --color-background-main: #4269e8;
}

.Todo__Header {
  color: #fff;
  background-color: var(--color-background-main);
  text-align: center;
  padding: 1rem 2rem;
}

.Todo__Item {
  padding: .5rem 0;
  font-size: .8rem;
}
.Todo__Item--finished {
  text-decoration: line-through;
}

.Container {
  padding: 1rem 2rem;
}

.Input {
  /* Input */
  border: none;
  border-bottom: 1px solid #d1d1d1;
  width: 16rem;
  margin-right: .3rem;
}
.Input:focus {
  outline: none;
  border-bottom: 1px solid var(--color-background-main);
}

.Select {
  display: inline-block;
  margin: 5px 0;
}

.Button {
  background: transparent;
  color: var(--color-background-main);
  border: 1px solid var(--color-background-main);
  border-radius: .2rem;
  display: inline-block;
  margin: 0 .3rem;
  cursor: pointer;
  font-size: .9rem;
  padding: .2rem .8rem;
}

.Button:hover {
  background: var(--color-background-main);
  color: #fff;
}

.Button--active {
  font-weight: bold;
}

.Checkbox {
  margin: 0 .3rem;
  padding: 0;
}

.Text--Center {
  text-align: center;
}
