.Todo {
  display: inline-block;
  margin: 20px;
}

.finished {
  text-decoration: line-through;
}

.item-desc {
  padding: 0 5px 0 2px;
}

.item-container {
  padding: 2px;
}

.filter-container {
  margin-top: 20px;
}

.active-filter {
  font-weight: bold;
}
